.container {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 0.3fr 0.7fr 2fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". Header ."
    "Users Input ."
    "Users Folders ."
    ". . .";
}

.Folders {
    grid-area: Folders;
    margin: 0;

}

.Folder {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: azure;
}

.Input {
    grid-area: Input;
    border-bottom: solid black 1px;

}


.Users {
    grid-area: Users;
    border-right: solid black 1px;
}

.Header {
    grid-area: Header;
    border-left: solid black 1px;
}
